@model dynamic 

<h2>Customer Details</h2>
<table>
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
    </tr>
    <tr>
        <td>@Model.Customer.CustomerID</td>
        <td>@Model.Customer.CompanyName</td>
    </tr>
</table>

<h2>Order Details</h2>
<table>
    <tr>
        <th>Order ID</th>
    </tr>
    <tr>
        <td>@Model.Order.OrderID</td>
    </tr>
</table>

